/**************** STRUCTURAL STYLES ******************/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

body {
    width: 100%;

    font-size: 1em;
    font-family: 'Karla', sans-serif;
    background-color: #e5eff5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-bottom: 10px;
}

.container {
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow: hidden;
}

main .container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.lower {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/****************** COMMUNITY ******************/

.community {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #fff;
    padding: 28px 0 32px 0;
}

.community .container {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/* Community fonts */
.community h1,
.community p {
    width: 100%;
}

.community h1 {
    color: #2AB3B1;
    margin: 0 0 24px 0;
    font-size: 1.25em;
}

.community h2 {
    color: #C0DF33;
    font-size: 0.938em;
    line-height: 20px;
    font-weight: 700;
}

.community p {
    color: hsl(218, 22%, 67%);
    font-size: 0.875em;
    line-height: 26px;
    margin: 16px 0 0 0;
}

/*************** MONTHLY SUBSCRIPTION ***************/

.monthly-sub {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #2AB3B1;
    color: #e5eff5;
    padding: 24px 0;
}

.monthly-sub .container {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/* Monthly-sub fonts */
.monthly-sub h2 {
    width: 100%;
}

.monthly-sub h2 {
    color: #FFFFFF;
    margin: 0 0 18px 0;
    font-size: 1.125em;
    font-weight: bold;
}

.monthly-sub .sentence-block {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

.sentence-block .left {
    font-size: 2em;
    font-weight: bold;
}

.sentence-block .right {
    font-size: 1em;
    font-weight: normal;
    margin-left: 11px;
    opacity: 50%;
}

.last {
    width: 100%;
    font-size: 1em;
    line-height: 26px;
    margin: 4px 0 26px 0;
}

.monthly-sub button {
    width: 100%;
    padding: 15px 0 14px 0;
    font-size: 1em;
    font-weight: 500;
    border-radius: 5px;
    border: 0 solid #c0df33;
    color: #fff;
    background-color: #c0df33;
}


/****************** WHY US **********************/

.why-us {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #4abebd;
    padding: 24px 0;
}

.why-us .container {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.why-us h2,
.why-us ul {
    width: 100%;
    color: #fff;
}

.why-us h2 {
    margin: 0 0 18px 0;
    font-size: 1.125em;
    font-weight: 700;
}

.why-us ul {
    font-size: 0.875em;
    line-height: 20px;
    opacity: 75%;
}

/********************* FOOTER *****************/

footer p {
    font-size: 0.75em;
}

footer a {
    text-decoration: none;
    color: blue;
}

/****************** TABLET STYLES ******************/

@media (min-width: 768px) {

    /* GENERAL STYLES */
    main .container {
        max-width: 672.3px;
        border-radius: 5px;
    }

    /* COMMUNITY */
    .community {
        padding: 40px 0;
    }

    .community h1 {
        font-size: 1.5em;
    }

    .community h2 {
        font-size: 1.125em;
        width: 100%;
    }

    .community p {
        margin-top: 11px;
        font-size: 1em;
    }

    /* LOWER */
    .lower {
        align-items: stretch;
    }

    .monthly-sub,
    .why-us {
        width: 50%;
        padding: 40px 0;
    }

    .monthly-sub .container,
    .why-us .container {
        width: 74.7%;
    }
}